h2 {
  text-align: center;
  font-size: 36px;
  color: #333; /* Text color (Dark Gray) */
  margin-top: 20px;
}

p {
  text-align: center;
  font-size: 18px;
  color: #555; /* Text color (Medium Gray) */
  margin-top: 20px;
}

.book {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.book img {
  max-width: 200px; /* Adjust the book image size as needed */
}