nav {
  display: flex;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333; /* Text color (Dark Gray) */
  margin-right: 20px;
  font-weight: bold;
}

a:hover {
  color: #FFA500; /* Hover color (Orange) */
}